h1, h2, p{
  font-family: 'Varta', sans-serif;
  text-align: center;
}
header{
  background-image: url(../assets/backgrounds/h_img.jpg);
  background-size: cover;
  color:white;
  align-items:center;
  padding-top:200px;
  padding-bottom: 200px;
  font-size: larger;
}
#mouse{
  animation: ease-in 2s infinite;
  padding-top : 15px;
  margin-top: 10%;
  padding-bottom: 25px;
}
#logo{
  margin-top: 12px;
  margin-bottom: 24px;
  width: 70px;
  height: 70px;;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-55px);
  }
  60% {
    transform: translateY(-45px);
  }
}
.does {
  padding-bottom: 2%;
  padding-top: 2%;
}
.does{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding-top: 40px;
}
#design, #development, #product{
  display: none;
  font-family: 'Copse', serif;
  font-size: 16px;
}
#desidn .top, #development .top, #product .top{
  font-size: 20px;
  font-weight: 600;
}
.top{
  padding: 6px;
}
.services{
  background-image: url(../assets/backgrounds/s_image.jpg);
  color:white;
  padding-top: 100px;
  padding-bottom: 100px;
}
.about{
  padding-top: 100px;
  padding-bottom: 100px;
}
.icons{
  display: block;
  align-items: center;
}

.footer{
  bottom:0;
}
#portfolio{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left:18%;
  margin-right: 16%; 
}
.col-md-3 img{
  max-width: 100%;
  max-height: 100%;
}
.portfolio h2{
  text-align: center;
  padding-top:40px;
  font-family: 'Roboto', sans-serif;
}
#overlay,#overlay2,#overlay3,#overlay4,#overlay5,#overlay6,#overlay7,#overlay8{
  display: none;
  color: rgb(24, 25, 26);
  width: 85%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  position: absolute;
  top: 0;
  text-align: center;
  font-size: auto;
  padding-top: 50%;
  font-family: 'Open Sans', sans-serif;
}
.column {
  float: right;
  width: 15%;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.overlay{
  display:none;
}

.contact {
  background-image: url(../assets/backgrounds/c_image.jpg);
  box-sizing: border-box;
  padding: 40px 60px;
  color: white;
}
.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding-top: 5px;
  margin-top: 3px;
}
.form-inline #name, #email {
  vertical-align: middle;
  margin: 5px 5px 5px 0;
  padding: 10px;
  padding-right: 32%;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid white;
  color:white;
}
.form-inline #message {
  vertical-align: left;
  margin: 30px 10px 80px 3px;
  padding: 10px;
  padding-bottom: 20%;
  padding-right: 81%;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid white;
}
.icons img {
  padding: 0 10px;
}
.icons {
  display: block;
  align-items: center;
  padding-left: 20%;
  padding-top: 50px;
}

@media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
  }
  
  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}
#submit{
  display:none;
}