h1, h2, p{
  font-family: 'Varta', sans-serif;
  text-align: center;
}
header{
  background-image: url(../assets/backgrounds/h_img.jpg);
  background-size: cover;
  color:white;
  align-items:center;
  padding-top:200px;
  padding-bottom: 200px;
  font-size: larger;
}
#logo{
  align-items: center;
  margin-left: 615px;
}
#mouse{
  position: absolute; 
  bottom: 0px; 
  margin-left:615px;
}
.services{
  background-image: url(../assets/backgrounds/s_image.jpg);
  color:white;
  padding-top: 100px;
  padding-bottom: 100px;
}
.about{
  padding-top: 100px;
  padding-bottom: 100px;
}
.icons{
  display: block;
  align-items: center;
}

.footer{
  bottom:0;
}
.portfolio {
  padding: 8px;
  padding: 2px 4px;
  box-sizing: border-box;
}
.column {
  float: right;
  width: 20%;
  padding: 30px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
figure {
  padding: 8px;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  float:left;
}
figcaption {
  color: black;
  font-style: italic;
  padding: 2px;
  text-align: center;
}
.does{
  padding:40px;
}
.does img{
  padding-top:10px;
  padding-bottom:10px;
  padding-left:150px;
  padding-right: 150px;
}

.contact {
  background-image: url(../assets/backgrounds/c_image.jpg);
  box-sizing: border-box;
  padding: 40px 60px;
  color: white;
}
.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding-top: 5px;
  margin-top: 3px;
}
.form-inline #name, #email {
  vertical-align: middle;
  margin: 5px 20px 5px 0;
  padding: 10px;
  padding-right: 32%;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid white;
  color:white;
}
.form-inline #message {
  vertical-align: left;
  margin: 30px 10px 80px 3px;
  padding: 10px;
  padding-bottom: 20%;
  padding-right: 81%;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid white;
}
.icons img {
  padding: 0 10px;
}
.icons {
  display: block;
  align-items: center;
  padding-left: 20%;
  padding-top: 50px;
}

@media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
  }
  
  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}
#submit{
  display:none;
}